/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
}
/* UPGRADE FIXED */
.upgrade{
    position: fixed;
    height: 100px;
    background-color: salmon;
    width: 85%;
    top: 0;
    right: 0;
    text-align: right;
    background-color: #080b12;
    line-height: 100px;
}
.upgrade a{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    border: 1px solid white;
    text-transform: uppercase;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;

}
main{
    display: flex;
}
.main-nav{
    width: 15%;
    height: calc(100vh - 100px);
    background-color: chocolate;
}

.main-content{
    padding-top: 100px;
    width: 85%;
    height: calc(100vh - 100px);
    background-color: rebeccapurple;
    overflow-y: auto;
}

footer{
    height: 100px;
    width: 100%;
    background-color: sienna;
}























